.new-todo-form {
  width: 60%;
  height: 70px;
  margin: 20px auto 0 auto;
  padding: 10px;
  border: 2px solid #999;
  border-radius: 10px;
}

.new-todo-form input {
  width: 75%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  margin-right: 10px;
}

.todo-input:focus {
  outline: none;
}

.new-todo-form button {
  padding: 6px 30px;
  background: lawngreen;
  color: black;
  border-radius: 10px;
}